*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(208, 195, 219);
    
}
h1{
    text-align: center;
    padding: 10px;
}
ul{
    text-align: center;
    list-style: none;
    background-color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
li{
    display: inline-block;
    padding: 5px 20px;
}
a:hover{
    color: rgb(133, 54, 199);
    transition: 0.5s;
}
main{
    text-align: center;
    height: 100vh;
}
.box{
    display: inline-block;
    height: auto;
    width: auto;
    background-color: rgb(208, 195, 219);
    margin: 5px;
    padding: 5px;
}
h2{
    padding: 10px;

}
img>.photo{
    width: 100%;
}
.photo>img{
    width: 100%;
}
.title{
    padding: 10px 5px;
}
footer{
    background-color: rgb(208, 195, 219);
    padding: 30px;
    font-size: 20px;
    
}










